body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th {
    background-color: #ddd;
    padding: 10px;
    text-align: left;
    border: 1px solid #999;
}

table td {
    padding: 10px;
    border: 1px solid #999;
}
